

.grid {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 0;
	list-style: none;
	max-width: 60em;
	margin: 3em auto 0;
}

.grid__item {
	position: relative;
	text-align: center;
	min-height: 36em;
}

